PORT=3005
CLIENT_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/chatlosss?schema=public"

ZEGO_APP_ID=
ZEGO_APP_SECRET=

OPENAI_API_KEY=
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-mini-transcribe